<%= form_with(model: [@course, @submission]) do |form| %>
  <div class="field">
    <%= form.label :lesson_id, "Lesson" %>
    <%= form.collection_select :lesson_id, @lessons, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :student_id, "Student" %>
    <%= form.collection_select :student_id, @students, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Assignment" %>
  </div>
<% end %>
